.category {
    
}

body {
	background-color:#f7f6ef;
	font-family:Tahoma, Geneva, sans-serif;
	width:1000px;
	margin: 0 auto;
}

#testOutputBox {   
	background-color:#FFF; 
	color: #4d4c49;
}

#gradeCategories {
	background-color:#E8E5CF;
}

#header {
	color:#00458C;
}