.category {
    
}

body {
	background-color:#f7f6ef;
	font-family:Tahoma, Geneva, sans-serif;
	width:1000px;
	margin: 0 auto;
	color:#676661;
}

#testOutputBox {   
	background-color:#FFF; 
	color: #4d4c49;
}

#gradeCategories {
	background-color:#E8E5CF;
}

#header {
	color:#00458C;
	height:100px;
	position:relative;
	font-size:36px;
}

#header-content {
	position: absolute;
	bottom:0px;
	left:0px;	
}

.categoryTitle {
	display: inline-block;
}
.removeCategory {
	background-color:#0080BB;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
}